Задание 1
Импортируйте библиотеки pandas и numpy.
Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.

Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки 
составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.
Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [2]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [3]:
lr = LinearRegression()
boston = load_boston()
data = boston.data
target = boston.target
X = pd.DataFrame(data, columns = boston.feature_names)
y = pd.DataFrame(target, columns=['price'])

In [4]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [6]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [11]:
y_pred = lr.predict(X_test)

In [12]:
r2_score(y_test, y_pred)

0.7109203586326303

Задание 2
Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
Сделайте агрумент n_estimators равным 1000, 
max_depth должен быть равен 12 и random_state сделайте равным 42.

Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression, 
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
чтобы получить из датафрейма одномерный массив Numpy,
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.
Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [13]:
from sklearn.ensemble import RandomForestRegressor

In [14]:
model  = RandomForestRegressor(max_depth=12, random_state=42, n_estimators=100)
model .fit(X_train, y_train.values[:, 0])
y_model_pred = model.predict(X_test)
r2_score(y_test, y_model_pred)

0.8730337723676167

Второй вариант более точен

* Задание 3
Вызовите документацию для класса RandomForestRegressor,
найдите информацию об атрибуте feature_importances_.

С помощью этого атрибута найдите сумму всех показателей важности,
установите, какие два признака показывают наибольшую важность.

In [64]:
features_raiting = pd.DataFrame({'Features name': boston.feature_names,
                                'Features raiting': model.feature_importances_},
                              columns = ['Features name', 'Features raiting'])

In [65]:
features_raiting

   Features name  Features raiting
0           CRIM          0.031779
1             ZN          0.001582
2          INDUS          0.006463
3           CHAS          0.001716
4            NOX          0.011979
5             RM          0.439729
6            AGE          0.011605
7            DIS          0.066025
8            RAD          0.005049
9            TAX          0.011670
10       PTRATIO          0.020627
11             B          0.011515
12         LSTAT          0.380262

In [66]:
sum(model.feature_importances_)

1.0000000000000004

In [67]:
features_raiting.sort_values(by='Features raiting').tail(2)

   Features name  Features raiting
12         LSTAT          0.380262
5             RM          0.439729